.editor-bg {
  margin: 0;
  padding: 0;
  background: #555;
}

.viewer {
  border: 5px solid alpha(@view_fg_color, 0.2);
}

.disclosure-button {
  background: alpha(@view_fg_color, 0.1);
}
.disclosure-button button {
  border-radius: 999px;
}
.disclosure-button button:hover {
  background: @accent_bg_color;
}
.disclosure-button:hover {
  background: @accent_bg_color;
}

.scrim {
  color: #fafafa;
  padding: 0;
  margin: 0;
}
.scrim headerbar,
.scrim .disclosure-button {
  color: #fafafa;
}
.scrim box > label,
.scrim .image-text-button label,
.scrim entry text,
.scrim widget > label {
  text-shadow: 0 1px 1px #2d2d2d;
}
.scrim image {
  -gtk-icon-shadow: 0 1px 1px #2d2d2d;
}
.scrim .close image,
.scrim .maximize image,
.scrim .minimize image,
.scrim .disclosure-button {
  border-radius: 999px;
  color: #fafafa;
  background: alpha(@accent_fg_color, 0.1);
  box-shadow: 0 1px 1px 2px alpha(#2d2d2d, 0.2);
  -gtk-icon-shadow: 0 1px 1px #2d2d2d;
}
.scrim .toggle {
  border-radius: 999px;
}

.scrim .toggle:hover {
  border-radius: 999px;
  background: alpha(@accent_fg_color, 0.1);
}
.scrim .disclosure-button:hover {
  background: alpha(@accent_fg_color, 0.2);
}